{% extends 'base.html' %}

{% block contenido %}
<div class="container mt-5">
    <div class="row">
        {# Bloques para noticia destacada y recientes usando un solo for #}
        {% for noticia in noticias %}
            {% if forloop.first %}
                <!-- Noticia destacada -->
                <div class="col-12 col-lg-7 d-flex flex-column">
                    <div class="noticia-destacada">
                        <a href="{% url 'noticias:ver_noticia' noticia.slug %}" target="_self">
                            <img src="{{ noticia.portada.url }}" class="img-destacada" alt="{{ noticia.titulo }}">
                        </a>
                    </div>
                    <div class="mt-3">
                        {% for categoria in noticia.categorias.all %}
                            <a href="#" class="badge bg-primary">{{ categoria }}</a>
                        {% endfor %}
                    </div>
                    <h3 class="mt-3">{{ noticia.titulo }}</h3>
                    <p><strong>{{ noticia.autor.username }}</strong> | {{ noticia.fecha }}</p>
                </div>

                <!-- Contenedor para noticias recientes -->
                <div class="col-12 col-lg-5 recientes">
            {% else %}
                    <div class="noticia-reciente d-flex mb-3">
                        <div class="otras-noticias">
                            <a href="{% url 'noticias:ver_noticia' noticia.slug %}">
                            <img src="{{ noticia.portada.url }}" alt="Noticia" class="img-fluid">
                            </a>
                        </div>
                        <div class="texto">
                            <p class="titulo mb-1">{{ noticia.titulo }}</p>
                            <p class="fecha mb-0">{{ noticia.fecha }}</p>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}

        {% if noticias|length > 1 %}
            </div> {# Cierre del contenedor recientes #}
        {% endif %}
        
    </div>
</div>
{% endblock %}
