<nav class="navbar navbar-expand-lg navbar-dark">
  <!--Esta es normalmente la imagen y debajo esta el boton para pantallas pequeñas-->
  <div class="container-fluid">
    <a class="navbar-brand" href="{%url 'inicio'%}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      

      <!-- izquierda -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'inicio'%}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Noticia</a>
        </li>
      </ul>


      <!-- Derecha -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRight" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{user.username}}
          </a>

          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownRight">

            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="#">Configuración</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            {% if user.tipo == 'editor' %}         
            <li><a class="dropdown-item" href="{% url 'noticias:noticias_editor'%}">Ver mis noticias</a></li>
            <li><a class="dropdown-item" href="{% url 'noticias:crear-noticia' %}">Crear noticia</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>             
            {% endif %}
            <li>
                <form action="{% url 'usuario:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">Cerrar sesión</button>
                </form>
            </li>

          </ul>

        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active w-50" title="Iniciar Sesion" aria-current="page" href="{% url 'login'%}?next={{ request.path }}"><i class="bi bi-box-arrow-in-right"></i></a>
        </li>
        {% endif %}
      </ul>


    </div>
  </div>
</nav>